
<div class="page-sidebar page-sidebar-closed" style="padding-top: 48px;position: fixed;">
    <ul class="page-sidebar-menu">

        <li>
            <a href="javascript:void(0)" >  
                    <i class="fa fa-dashboard" aria-hidden="true"></i><span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" [routerLink]="['/todo']">  
                <i class="fa fa-calendar" aria-hidden="true"></i><span class="title">My Calendar</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" [routerLink]="['/kanban']">  
                <i class="fa fa-columns" aria-hidden="true"></i><span class="title">Kanban</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" [routerLink]="['/projects']">  
                <i class="fa fa-cubes" aria-hidden="true"></i><span class="title">Projects</span>
            </a>
        </li>
        <li *ngIf="customer_module_access">
            <a href="javascript:void(0)" [routerLink]="['/customer']">  
                <i class="fa fa-user" aria-hidden="true" style="margin-left: 3px"></i><span class="title">Customer</span>
            </a>
        </li>
        <li *ngIf="customer_module_access == 1 && pricing_module_status == 1 && timesheet_module_status == 1" >
            <a href="javascript:void(0)" [routerLink]="['/timesheet']"><i class="icon-time"></i><span class="title"> Timesheet </span></a>
       </li>
       <li>
        <a href="javascript:void(0)" [routerLink]="['/report']">  
            <i class="stripicon icoreport "></i>  <span class="title">Report</span>
        </a>
    </li>
    </ul>
</div>